<?xml version="1.0"?>
<launch>
    <!-- <param name="/use_sim_time" value="true" /> -->
    <include file="$(find rover_navigator)/launch/setup.launch" />

    <group ns="robot_1" >

    <include file="$(find rover_navigator)/launch/pointcloud_to_laserscan.launch" />

    <include file="$(find rslidar_sdk)/launch/start.launch" />

    <node pkg="rosbag" type="play" name="rosbag" args="/home/amsl/mcl_test_2023-03-18-15-16-57.bag -l" />

    </group>

</launch>
