<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="start_node_id" default="5" />
    <arg name="goal_node_id" default="0" />
    <arg name="robot" default="robot1"/>

    <node pkg="rwrc22_localgoal_creator" type="rwrc22_localgoal_creator_node" name="local_goal_creator_node" >
        <param name="start_node" value="$(arg start_node_id)" />
        <param name="goal_node" value="$(arg goal_node_id)" />
        <param name="local_goal_interval" value="0.2" />
        <param name="local_goal_dist" value="3.0" />
        <param name="local_goal_frame_id" value="$(arg robot)/base_link"/>
        <remap from="/checkpoint" to="node_edge_map/checkpoint" />
        <remap from="/node_edge_map" to="node_edge_map/map" />
        <remap from="/current_pose" to="amcl_pose" />
        <remap from="/is_stop_node_flag" to="is_stop_node_flag" />
        <remap from="/current_checkpoint" to="current_checkpoint" />
        <remap from="/local_goal" to="local_goal" />
    </node>

    <include file="$(find rover_navigator)/launch/amsl_navigation_managers.launch"/>

</launch>
