<?xml version="1.0" ?>
<launch>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_node" >
        <remap from="cloud_in" to="cloud_in" />
        <remap from="scan" to="scan" />
        <param name="min_height" value="0.0" />
        <param name="max_height" value="1.0" />
        <param name="angle_min" value="-M_PI/2.0" />
        <param name="angle_max" value="M_PI/2.0" />
        <param name="angle_increment" value="M_PI/360.0" />
        <param name="scan_time" value="1.0/30.0" />
        <param name="range_min" value="0.45" />
        <param name="range_max" value="4.0" />
        <param name="target_frame" value="" />
        <param name="concurrency_level" value="1" />
        <param name="use_inf" value="true" />
    </node>

</launch>
